{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Congratulations!</title>
  <link rel="stylesheet" href="{% static 'assets/style.css' %}">  </head>
<body>
  <div class="congrat-container">
    <audio id="win-sound" src="{% static 'assets/win.mp3' %}" autoplay ></audio>
    <h1>Congratulations, {{ ai_response }}<span id="username"></span>!</h1>
    <div class="buttons">
      <a href=""><button id="play-again">Play Again</button></a>
    </div>
  </div>
</body>
</html>
